{{ form_start(form, {'attr': {'class': 'row'}}) }}
	<div class="input-field col s12 m12 l12">
		{{ form_widget(form.titre) }}
        {{ form_label(form.titre, 'Titre du journal') }}
		<span class="error">{{ form_errors(form.titre) }}</span>
	</div>

	<div class="input-field col s12 m6 l6">
		{{ form_widget(form.numparution, {'attr': {'placeholder': '34'}}) }}
		{{ form_label(form.numparution, 'Numéro de parution') }}
		<span class="error">{{ form_errors(form.numparution) }}</span>
	</div>

	<div class="input-field col s12 m12 l12">
		<input type="submit" name="" value="Enregistrer" class="btn btn-primary">
	</div>
{{ form_end(form) }}

